body {
}
.topBar{
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        height:40px;
    padding-left:50px;
}
.centerDiv{
   margin: auto;
   width: 50%;
}
#signup{
    font-size:60px;
    background-color:lightgrey;
    border-radius:5px;
    border: none;
    color: white;
}
#login{
   left:60%;
     font-size:60px;
    background-color:dimgrey;
    border-radius:5px;
    color: white;
    border: none
}
#signup:hover{
    color:lightgrey;
    background-color:white;
    border-radius:10px;
    font-weight:bold;
}
#login:hover {
    background-color: white;
    border-radius:10px;
    font-weight:bold;
    color:dimgray;
}
.bottomDiv{
  margin: auto;
      margin-top:10%;
    align-content:center;
  width: 50%;
  padding-left:25%;
}
.opButtons{
    font-size: 20px;
    background-color:burlywood;
}
.signupMessage{
    font-size: 30px;
    
}

